:root {
    --font-size-h1: 22px;
    --font-size-h2: 20px;
    --font-size-h3: 16px;
    --font-size-h4: 14px;
    --font-size-h5: 14px;
    --font-size-h6: 14px;

    --font-weight-h4: 600;
    --font-weight-h5: 600;
    --font-weight-h6: 600;
} 


/* Different color heading*/
.cm-s-obsidian .cm-header-1, .empty-state-title, .markdown-preview-view h1, h1 {
	Color: #d6a14d;
	font-size: var(--font-size-h1) !important;

}

.cm-s-obsidian .cm-header-2, .empty-state-title, .markdown-preview-view h2, h2 {
	Color: #9e86c8 ;
	font-size: var(--font-size-h2) !important;
}

.cm-s-obsidian .cm-header-3, .empty-state-title, .markdown-preview-view h3, h3 {
	color: #568bb8;
	font-weight: 600;
	font-size: var(--font-size-h3) !important;
}

.cm-s-obsidian .cm-header-4, .empty-state-title, .markdown-preview-view h4, h4 {
	Color: #89898e ;
	font-size: var(--font-size-h4) !important;
	font-weight: var(--font-weight-h4) !important;
}

.cm-s-obsidian .cm-header-5, .empty-state-title, .markdown-preview-view h5, h5 {
	Color: #89898e ;
	font-size: var(--font-size-h5) !important;
	font-weight: var(--font-weight-h5) !important;
}


.cm-s-obsidian .cm-header-6, .empty-state-title, .markdown-preview-view h6, h6 {
	Color: #89898e ;
	font-size: var(--font-size-h6) !important;
	font-weight: var(--font-weight-h6) !important;
}



/* Different color for bold*/
.cm-strong,
.markdown-preview-section strong {
  color: #d6a14d !important;
}


/* of italics in Preview  all notes in a vault */
.cm-em,
.markdown-preview-section em {
    color: #d6a14d !important;
}


---

Blue: 778ed4
Purple: 9e86c8
D-Purple: 836fa6
Yellow: d6a14d
Green: 4E944F
Pink: C060A1
0AA1DD

---
